::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(0,0,0,0.15);
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.05);
}

.home {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}



body {
    padding: 20px;
    padding-bottom: 40px;
}

/* Custom container */
.app-container {
    width: 1330px;
}
.app-container > hr {
    margin: 30px 0;
}

iframe {
    width: 1000px;
    height: 260px;
    border: none;
}
form {
    margin: 0;
}
#remote-view,
#local-view{
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#remote-view {
    width: 600px;
    height: 450px;
    float: left;
    position: relative;
}
#local-view {
    float: left;
    width: 290px;
    height: 218px;
    margin-left: 5px;
    position: relative;
}

#remote-view::after,
#local-view::after {
    display: block;
    content: "Remote View";
    font-size: 36px;
    color: rgba(153, 153, 153, 0.38);
    font-weight: bold;
    position: absolute;
    top: 230px;
    left: 180px;
}
#local-view::after {
    content: "Local View";
    top: 90px;
    left: 50px;
}
video {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
#local-view video{
    width: 290px;
    height: 218px;
    position: absolute;
    z-index: 1;
}
#remote-view video{
    width: 600px;
    height: 450px;
    position: absolute;
    z-index: 1;
}

.hangup {
    float: left;
    margin: 20px 0 0 110px;
}

h3.room {
    display: inline;
}

#user-left {
    margin: 0;
    font-weight: bold;
    margin-left: 30px;
    padding-right: 14px;
    display: none;
}

.views {
    position: relative;
    float: left;
    width: 900px;
}

.chat-ctl {
    float: left;
    border: 1px solid #ddd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 39px 5px 5px;
    width: 400px;
    position: relative;
    margin-right: 10px;
}
.chat-ctl:after {
    content: "Chat";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    color: #9da0a4;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}
.chat-ctl input {
    width: 310px;
    margin-left: 7px;
}
.chat-ctl button{
    margin-left: 5px;
    margin-top: -10px;
}
.chat-log {
    height: 362px;
    margin-bottom: 5px;
    overflow: auto;
}

.chat-log .bubble-wrp{
    overflow: hidden;
}
.chat-log .bubble{
    background-color: #F2F2F2;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    display: inline-block;
    padding: 10px 18px;
    position: relative;
    vertical-align: top;
}

.chat-log .bubble::before {
    background-color: #F2F2F2;
    content: "\00a0";
    display: block;
    height: 16px;
    position: absolute;
    top: 11px;
    transform:             rotate( 29deg ) skew( -35deg );
        -moz-transform:    rotate( 29deg ) skew( -35deg );
        -ms-transform:     rotate( 29deg ) skew( -35deg );
        -o-transform:      rotate( 29deg ) skew( -35deg );
        -webkit-transform: rotate( 29deg ) skew( -35deg );
    width:  20px;
}

.chat-log .me {
    float: left;
    margin: 5px 45px 5px 20px;
}

.chat-log .me::before {
    box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
    left: -9px;
}

.chat-log .you {
    float: right;
    margin: 5px 20px 5px 45px;
    background: rgb(205, 255, 205);
}

.chat-log .you::before {
    box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
    right: -9px;
    background: rgb(205, 255, 205);
}
