upstream webrtc-app {
  server 127.0.0.1:3000;
}

server {
  listen 0.0.0.0:80;
  server_name webrtc-app.gornostal.name;
  access_log /var/log/nginx/webrtc-app.log;

  root /home/ubuntu/my-webrtc-app/client;

  index prod.html index.html;

  location ~/room/(.+) {
    try_files prod.html /prod.html;
  }

  location / {
    try_files $uri $uri/ @proxy;
  }

  location @proxy {
    # NOTE: only Nginx 1.3.13 or higher support WebSocket protocol
    # more info here: https://github.com/LearnBoost/socket.io/wiki/Nginx-and-Socket.io
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
    proxy_set_header Host $host;

    proxy_pass http://webrtc-app;
    proxy_redirect off;
  }

  location = /robots.txt  { access_log off; log_not_found off; }
  location = /favicon.ico { access_log off; log_not_found off; }
}

