<div class="home">
    <div class="container">

      <form class="form-signin" action="" onsubmit="javascript:return false;">
        <h2 class="form-signin-heading">Enter a Room ID</h2>
        <input title="You can use letters, numbers and _ -" type="text" class="input-block-level" autofocus placeholder="Room ID">
        <button class="btn btn-large btn-primary" type="submit">Create/Join Room</button>
      </form>

    </div>
    <div class="gh-link"><small>This project is on <a href="https://github.com/gornostal/my-webrtc-app">Github</a></small></div>
</div>