<div class="app-container">

    <div class="masthead">
        <h3 class="muted room">Room: <b style="color: black"><%= room %></b></h3>
        <span class="alert" id="user-left">User left the room!</span>
    </div>

    <hr>

    <div class="content clearfix">
            <div class="chat-ctl">
                <form action="" method="POST" id="chat-form">
                    <div id="chat-log" class="chat-log">
                    </div>
                    <input type="text" id="chat-msg" placeholder="write something nice">
                    <button type="submit" class="btn btn-primary disabled btn-small send-msg">Send</button>
                </form>
            </div>

        <div class="views">
            <div id="remote-view"></div>
            <div id="local-view"></div>
            <button type="button" class="btn btn-danger hangup">Hang Up</button>
        </div>

    </div>


</div>